services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    env_file: ./env/.env.mongo
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./env/.env.backend
    depends_on:
      - mongo
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./env/.env.frontend
    depends_on:
      - backend
  mongo-express:
    image: mongo-express:latest
    ports:
      - "8081:8081"
    env_file:
      - ./env/.env.mongo-express
    depends_on:
      - mongo

volumes:
  mongo_data: